.border-main-background {
    padding: 1px;
    background-color: #f0f0f0;
    border: 3px solid rgb(108 117 125);
    border-radius: 6px;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

#accordion .panel {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 10px 0 12px 5px;
    position: relative;
}

    #accordion .panel:before {
        content: "";
        width: 2px;
        height: 100%;
        background: #305275;
        position: absolute;
        top: 0;
        left: -2px;
    }

#accordion .panel-heading {
    padding: 0;
    position: relative;
}

#accordion .panel-title a {
    display: block;
    padding: 10px 55px 10px 30px;
    font-size: 20px;
    font-weight: 600;
    color: #550527;
    border: none;
    margin: 0;
    position: relative;
}

#accordion .panel-title h5{
    margin-bottom: 0px;
}

#accordion .panel-title btn:before,
#accordion .panel-title btn {
    position: absolute;
    right: 25px;
}

#accordion .panel-body {
    padding: 0 30px 15px;
    border: none;
    font-size: 14px;
    color: #305275;
    line-height: 28px;
}

#accordion .panel-heading.conversation:before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: #fff;
    border: 1px solid #550527;
    position: absolute;
    top: 50%;
    left: -48px;
    transform: translateY(-50%);
}


#accordion .panel.conversation {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 0 0 12px 50px;
    position: relative;
}

.clickable-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.header-content {
    position: relative;
    z-index: 2;
}

/*Reply Form*/

.offcanvas {
    width: 60%; 
    max-width: 100%;
}
.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none;
}

    .form-control:active, .form-control:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #000;
    }

.col-form-label {
    color: #000;
    font-size: 13px;
}

.btn {
    height: 35px;
}

.form-control{
    height: 60vh;
}

.editable, .close-request-input {
    width: 100%;
    height: auto;
    max-height: 70vh;
    border-bottom: 2px solid #888888;
    padding: 5px;
    overflow-y: auto;
    background-color: white;
    border-radius: 5px;
}

strong {
    font-weight: bold;
}

.offcanvas-header {
    padding: 0 3px 0 3px;
    margin: 16px;
    background-color: #E5E5E5;
    border-radius: 3px;
}

.offcanvas-body {
    padding: 0 16px 0 16px;
    margin: 16px;
    background-color: #E5E5E5;
    border-radius: 3px;
}

.sentColour {
    background-color: #559d66;
}

.receivedColour {
    background-color: #efe99c;
}

.error{
    background-color: #ec99f8;
}

button{
    background-color: #ccc;
}

.ticket-info-box {
    overflow: hidden;
}

table {
    border-collapse: collapse;
}

/* List of the requsts in the left menu */

.request-topic {
    background-color: white;
    border: 0;
    border-radius: 3px;
}

.request-box {
    background-color: white;
    margin: 2px 0 2px 0;
    /*padding: 2px 2px 2px 5px;*/
    border: 1px solid #2D2926;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.subject-requstBox {
    display: block;
    width: 100%;
    background-color: #8dc3d4;
}

.additional-info-requstBox li {
    list-style-type: circle;
}

ul {
    margin: 0;
}

/*Resolution*/
.resolution-box {
    width: 100%;
    margin: 10px auto;
    padding: 10px 10px;
    background-color: #E5E5E5;
    border: 3px solid #E5E5E5;
    border-radius: 6px;
}

/*Drop-down menu*/
.dropdown-item {
    padding: 0;
}

.dropdown-item button {
    border: 0;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 0.375rem 1.5rem;
    text-align: left;
    color: #888888;
    background-color: white;
}

    .dropdown-item button:hover {
        background-color: #f8f9fa;
        color: black;
    }

