/* _content/HelpDeskWebSite/Areas/Identity/Pages/Account/Login.cshtml.rz.scp.css */
.sign-in[b-6yn0s43lda] {
    width: 900px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}

.signin-content[b-6yn0s43lda] {
    padding-top: 50px;
    padding-bottom: 60px;
    display: flex;
}

.signin-image[b-6yn0s43lda] {
    float: left;
    width: 50%;
    display: grid;
    justify-content: center;
    text-align: center;
}

    .signin-image p[b-6yn0s43lda] {
        margin-top: 1.5rem;
    }

.login-box[b-6yn0s43lda] {
    float: right;
    width: 50%;
}

h1[b-6yn0s43lda] {
    margin-bottom: 33px;
    text-align: center;
}

.checkbox[b-6yn0s43lda] {
    max-width: 70%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

label[b-6yn0s43lda] {
    margin: auto;
}

button[b-6yn0s43lda] {
    margin-top: 8px;
    width: 70%;
}
/* _content/HelpDeskWebSite/Areas/Identity/Pages/Account/Register.cshtml.rz.scp.css */
.signup[b-qre8whpset] {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.signup-content[b-qre8whpset] {
  padding-top: 50px;
  padding-bottom: 60px;
  display: flex;
}

.signup-image[b-qre8whpset] {
  float: right;
  width: 50%;
  display: grid;
  justify-content: center;
  text-align: center;
}

.signin-image p[b-qre8whpset] {
  margin-top: 1.5rem;

}

.signup-form[b-qre8whpset] {
  float: left;
  width: 50%;
}

h1[b-qre8whpset] {
  margin-bottom: 15px;
  text-align: center;
}

button[b-qre8whpset] {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* _content/HelpDeskWebSite/Views/ListOfRequests/Index.cshtml.rz.scp.css */
.tool-bar[b-1alh8hp3nc] {
    display: flex;
    align-items: center;
    background-color: #e6e0dc;
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 1px solid #2D2926;
    border-radius: 10px;
}


td[b-1alh8hp3nc], th[b-1alh8hp3nc] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px; /* Set a max-width as per your layout */
}

th[b-1alh8hp3nc] {
    color: white;
    background-color: #2D2926;
}

.odd td[b-1alh8hp3nc] {
    background-color: #e6e0dc; /* White color for odd rows */
}

table[b-1alh8hp3nc] {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.subject-column[b-1alh8hp3nc]{
    min-width: 250px;
}

.message-column[b-1alh8hp3nc] {
    min-width: 400px;
}

.highlight-row[b-1alh8hp3nc]{
    background-color: aquamarine;
}
/* _content/HelpDeskWebSite/Views/Request/Details.cshtml.rz.scp.css */
.border-main-background[b-631j2yxniw] {
    padding: 1px;
    background-color: #f0f0f0;
    border: 3px solid rgb(108 117 125);
    border-radius: 6px;
}

a:hover[b-631j2yxniw], a:focus[b-631j2yxniw] {
    text-decoration: none;
    outline: none;
}

#accordion .panel[b-631j2yxniw] {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 10px 0 12px 5px;
    position: relative;
}

    #accordion .panel[b-631j2yxniw]:before {
        content: "";
        width: 2px;
        height: 100%;
        background: #305275;
        position: absolute;
        top: 0;
        left: -2px;
    }

#accordion .panel-heading[b-631j2yxniw] {
    padding: 0;
    position: relative;
}

#accordion .panel-title a[b-631j2yxniw] {
    display: block;
    padding: 10px 55px 10px 30px;
    font-size: 20px;
    font-weight: 600;
    color: #550527;
    border: none;
    margin: 0;
    position: relative;
}

#accordion .panel-title h5[b-631j2yxniw]{
    margin-bottom: 0px;
}

#accordion .panel-title btn[b-631j2yxniw]:before,
#accordion .panel-title btn[b-631j2yxniw] {
    position: absolute;
    right: 25px;
}

#accordion .panel-body[b-631j2yxniw] {
    padding: 0 30px 15px;
    border: none;
    font-size: 14px;
    color: #305275;
    line-height: 28px;
}

#accordion .panel-heading.conversation[b-631j2yxniw]:before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: #fff;
    border: 1px solid #550527;
    position: absolute;
    top: 50%;
    left: -48px;
    transform: translateY(-50%);
}


#accordion .panel.conversation[b-631j2yxniw] {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 0 0 12px 50px;
    position: relative;
}
/*Reply Form*/

.offcanvas[b-631j2yxniw] {
    width: 60%; 
    max-width: 100%;
}
.form-control[b-631j2yxniw] {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none;
}

    .form-control:active[b-631j2yxniw], .form-control:focus[b-631j2yxniw] {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #000;
    }

.col-form-label[b-631j2yxniw] {
    color: #000;
    font-size: 13px;
}

.btn[b-631j2yxniw] {
    height: 35px;
}

.form-control[b-631j2yxniw]{
    height: 60vh;
}

.editable[b-631j2yxniw] {
    width: 100%;
    height: auto;
    max-height: 70vh;
    border-bottom: 2px solid #888888;
    padding: 5px;
    overflow-y: auto;
    background-color: white;
    border-radius: 5px;
}

strong[b-631j2yxniw] {
    font-weight: bold;
}

.offcanvas-header[b-631j2yxniw] {
    padding: 0 3px 0 3px;
    margin: 16px;
    background-color: #E5E5E5;
    border-radius: 3px;
}

.offcanvas-body[b-631j2yxniw] {
    padding: 0 16px 0 16px;
    margin: 16px;
    background-color: #E5E5E5;
    border-radius: 3px;
}

.bg-green[b-631j2yxniw] {
    background-color: #d4ff97;
}

.bg-red[b-631j2yxniw] {
    background-color: #fcb5b5;
}

.error[b-631j2yxniw]{
    background-color: #ec99f8;
}

button[b-631j2yxniw]{
    background-color: #fefabc;
}

.ticket-info-box[b-631j2yxniw] {
    overflow: hidden;
}
    
table[b-631j2yxniw] {
    border-collapse: collapse;
}
/* _content/HelpDeskWebSite/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kvsfdz2zou] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-kvsfdz2zou] {
  color: #0077cc;
}

.btn-primary[b-kvsfdz2zou] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-kvsfdz2zou], .nav-pills .show > .nav-link[b-kvsfdz2zou] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kvsfdz2zou] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kvsfdz2zou] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kvsfdz2zou] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kvsfdz2zou] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kvsfdz2zou] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
