/* _content/HelpDeskWebSite/Areas/Identity/Pages/Account/Login.cshtml.rz.scp.css */
.sign-in[b-6yn0s43lda] {
    width: 900px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}

.signin-content[b-6yn0s43lda] {
    padding-top: 50px;
    padding-bottom: 60px;
    display: flex;
}

.signin-image[b-6yn0s43lda] {
    float: left;
    width: 50%;
    display: grid;
    justify-content: center;
    text-align: center;
}

    .signin-image p[b-6yn0s43lda] {
        margin-top: 1.5rem;
    }

.login-box[b-6yn0s43lda] {
    float: right;
    width: 50%;
}

h1[b-6yn0s43lda] {
    margin-bottom: 33px;
    text-align: center;
}

.checkbox[b-6yn0s43lda] {
    max-width: 70%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

label[b-6yn0s43lda] {
    margin: auto;
}

button[b-6yn0s43lda] {
    margin-top: 8px;
    width: 70%;
}
/* _content/HelpDeskWebSite/Areas/Identity/Pages/Account/Register.cshtml.rz.scp.css */
.signup[b-qre8whpset] {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.signup-content[b-qre8whpset] {
  padding-top: 50px;
  padding-bottom: 60px;
  display: flex;
}

.signup-image[b-qre8whpset] {
  float: right;
  width: 50%;
  display: grid;
  justify-content: center;
  text-align: center;
}

.signin-image p[b-qre8whpset] {
  margin-top: 1.5rem;

}

.signup-form[b-qre8whpset] {
  float: left;
  width: 50%;
}

h1[b-qre8whpset] {
  margin-bottom: 15px;
  text-align: center;
}

button[b-qre8whpset] {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* _content/HelpDeskWebSite/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kvsfdz2zou] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-kvsfdz2zou] {
  color: #0077cc;
}

.btn-primary[b-kvsfdz2zou] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-kvsfdz2zou], .nav-pills .show > .nav-link[b-kvsfdz2zou] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kvsfdz2zou] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kvsfdz2zou] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kvsfdz2zou] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kvsfdz2zou] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kvsfdz2zou] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
