.tool-bar {
    display: flex;
    align-items: center;
    background-color: #e6e0dc;
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 1px solid #2D2926;
    border-radius: 10px;
}


th, td{
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
}


th {
    color: white;
    background-color: #2D2926;
}

.odd td {
    background-color: #e6e0dc; /* White color for odd rows */
}

table {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.subject-column{
    min-width: 250px;
}

.message-column {
    min-width: 400px;
}

.highlight-row{
    background-color: aquamarine;
}

/*Drop-down menu*/
.Open {
    background-color: aqua;
}

.Open:after {
    color: black;

}

.Onhold {
    background-color: antiquewhite;
}

.Closed {
    background-color: aquamarine;
}

.statusButton:hover {
    color: black;
    background-color: var(--bs-btn-active-bg);
}

.statusButton:after {
    color: black;
    background-color: black;
}

.dropdown-item {
    padding: 0;
}

    .dropdown-item button {
        border: 0;
        cursor: pointer;
        display: block;
        width: 100%;
        padding: 0.375rem 1.5rem;
        text-align: left;
        color: #888888;
        background-color: white;
    }

        .dropdown-item button:hover {
            background-color: #f8f9fa;
            color: black;
        }