<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/707c12b2-48f2-4d20-9fcf-d745c739b19f/resourceGroups/HelpDeskWebSite/providers/Microsoft.Web/sites/HelpDeskWebSite</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://helpdeskwebsite-gef3ecb0gbb8c3g0.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>c81e61a4-494d-44c0-880c-43a0678ee532</ProjectGuid>
    <PublishUrl>https://helpdeskwebsite-gef3ecb0gbb8c3g0.scm.eastus-01.azurewebsites.net/</PublishUrl>
    <UserName>$HelpDeskWebSite</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>